

    <!-- Footer -->
    <footer>
    <div class="container">
    <div class="row">
        <div class="column">
            <h6 class="text-uppercase text-secondary">Helpful Links</h6>
            <p>About Us</p>
            <p>Bible Study</p>
        </div>
        <div class="column">
            <h6 class="text-uppercase text-secondary">Calander</h6>
            <p>Church Calander</p>
            <p>Community</p>
        </div>
        <div class="column">
            <h6 class="text-uppercase text-secondary">Media Center</h6>
            <p>Watch/Listen</p>
        </div>
        <div class="column">
            <h6 class="text-uppercase text-secondary">Contact Us</h6>
            <p>Phone: 720-628-5919<br/>
            720-434-1126<br/>
            Email: contact@ethiodenver.com<br/>
            Online Contact Form : Click Here</p>
        </div>
    </div>
    </div>
    </footer>
    <!-- Copyright -->
    <section class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-12 ">
                    <div class="text-center text-white">
                        &copy; 2019 Ethiopian Evanglical Church Denver. We wish to see JESUS!
                    </div>
                </div>
            </div>
        </div>
    </section>