<app-header></app-header>
<div class="container row">
    <div class="col-3">
        <h3>EECD Ministries</h3>
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link active" id="v-pills-about-tab" data-toggle="pill" href="#v-pills-about" role="tab"
                aria-controls="v-pills-about" aria-selected="true">About Us</a>
            <a class="nav-link" id="v-pills-pastors-tab" data-toggle="pill" href="#v-pills-pastors" role="tab"
                aria-controls="v-pills-pastors" aria-selected="false">EECD Pastors</a>
            <!-- <a class="nav-link" id="v-pills-ave-tab" data-toggle="pill" href="#v-pills-ave" role="tab"
                aria-controls="v-pills-ave" aria-selected="false">AVE (Avenue)</a> -->
            <a class="nav-link" id="v-pills-children-tab" data-toggle="pill" href="#v-pills-children" role="tab"
                aria-controls="v-pills-children" aria-selected="false">Children Minstry</a>
            <a class="nav-link" id="v-pills-youth-tab" data-toggle="pill" href="#v-pills-youth" role="tab"
                aria-controls="v-pills-youth" aria-selected="false">Youth Ministry</a>
            <a class="nav-link" id="v-pills-otherMinistries-tab" data-toggle="pill" href="#v-pills-otherMinistries" role="tab"
                aria-controls="v-pills-otherMinistries" aria-selected="false">Other Ministry</a>
        </div>
    </div>
    <div class="col-9">
        <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-about" role="tabpanel" aria-labelledby="v-pills-about-tab">
                <img class="center" src="/assets/churchfromoutside.jpg" alt="outside-eecd" width="700"><br/>
                <p>Welcome to the Ethiopian Evangelical Church of Denver (EECD). We are a Christ-centered church committed to reaching
                members of the Ethiopian and Eritrean community, as well as members of the larger Denver/Aurora community with the
                salvation, wholeness and healing found in Christ.<br/>
                EECD was first started as a fellowship by a small number of Ethiopian immigrants in 1986. Since then, it has grown and
                evolved into a church serving adults, youth, and children of Ethiopian/Eritrean/American heritage.</p><br/>
            <ul class="nav nav-pills pt-3" id="pills-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab"
                        aria-controls="pills-home" aria-selected="true">Vision Statment</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab"
                        aria-controls="pills-profile" aria-selected="false">Core Values</a>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                    <u class="text-danger">Vision statement</u><br />
                    The Ethiopian Evangelical Church will accomplish her mission by adhering to the following Vision statement:<br />
                    Worship in Truth<br />
                    So that we can worship the Lord in Spirit and in Truth, EEC Denver will teach the whole counsel of the Word of God. EEC
                    Denver will persevere to make worship evident in the day-to-day lives of individuals and families.<br />
                    <u class="text-danger">Fellowship in Love</u><br />
                    EECD will create an atmosphere in which believers will bond in Christ one with another, love one another and be
                    considerate towards one another until there is none forgotten in our midst.<br />
                    <u class="text-danger">Evangelism and Prayer</u><br />
                    EECD will spread the gospel using a variety of effective and sustaining ways. The church will encourage believers to
                    humble themselves and pray so that the mighty hand of God will move in the lives of individuals, families, and our
                    city.<br />
                    <u class="text-danger">Discipleship</u><br />
                    EECD will nurture the spiritual growth of believers according to their spiritual maturity, age, gender and need, until
                    we are walking in the fullness that Christ has called us into.<br />
                    <u class="text-danger">Mission</u><br />
                    Knowing that people need to be reached where they are in terms of life stage, need and background, EECD will equip
                    believers who have a vision for missions. EECD will also partner with others who have a similar vision for local and
                    worldwide mission.<br />
                </div>
                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                <u class="text-danger">Submission</u><br/>
                We will submit to the Word of God, which is the authority over all.<br />
                <u class="text-danger">Forgiveness</u><br />
                Believing that it will bring a difference in our community, we will lead daily lives of forgiveness reflecting God’s
                forgiveness that we have received through Christ.<br />
                <u class="text-danger">Accountability and Transparency</u><br />
                Whether in private or in public, before God and before our fellow mankind, we will be accountable for our actions. As
                children of light, we will strive to be transparent in all we do.<br />
                <u class="text-danger">Hard Working</u><br />
                Our respect for work, whether in at church or in our personal lives, will be tireless.<br />
                <u class="text-danger">Unity</u><br />
                Avoiding gossip and other harmful behaviors, we will strive to be one in spirit so that we can fulfill the vision we
                have received.<br />
                <u class="text-danger">Obedience</u><br />
                We will obey that leaders whom God has given to us.<br />
                <u class="text-danger">Family</u><br />
                Believing that the family is an institution established by God, we will nurture it to flourish and thrive in the purity
                and design God intended.<br />
                <u class="text-danger">Growth</u><br />
                We will strive to grow individually and as a congregation.<br />
                Active Participation<br />
                We will build a culture of participation to encourage believers to actively involve in the work of the church.<br />
                <u class="text-danger">Respect</u><br />
                We teach that an individual and his or her opinion is to be respected.</div>
            </div>
            </div>
            <div class="tab-pane fade" id="v-pills-pastors" role="tabpanel" aria-labelledby="v-pills-pastors-tab">
                <div class="media">
                    <img src="/assets/sr-pastor-endashaw.jpeg" class="align-self-start mr-3" alt="sr-pastor-endashaw">
                    <div class="media-body">
                        <h3 class="mt-0">Sr. Pastor Endashaw Kelkele & Genet Mamo</h3>
                        <p>Pastor Endashaw and his wife Genet have been serving as senior pastor and first lady of the Ethiopian Evangelical Church
                        of Denver since the early 1990’s. <br />
                        He is described as warm, compassionate, and down to earth by those who know him well. He was born and raised in Ethiopia
                        and came to the United States by way of Kenya in 1989.<br />
                        Pastor Endashaw earned his Pastoral degree from Colorado Christian University. He served under the leadership of the
                        founding pastor of EEC Denver, Pastor Zeleke Alemu, until his appointment as senior pastor in the early 1990s.<br />
                        Pastor Endashaw is passionate about preaching the good news to the lost, binding up the broken hearted, setting the
                        captives free, restoring sight to the spiritually blind, and hearing to the spiritually deaf through preaching the
                        inspired and infallible Word of God.<br />
                        His responsibilities include preaching during the two Sunday morning services, preaching during the Wednesday evening
                        service, communication with church members, and long-term planning for ministry outreaches, just to name a few.<br />
                        Click here to watch a welcome video from Pastor Endashaw.<br /></p>
                    </div>
                </div>
                <div class="media mt-3">
                    <img src="/assets/pastor-Ermias.jpg" class="align-self-start mr-3" alt="pastor-Ermias">
                    <div class="media-body">
                        <h3 class="mt-2">Pastor Ermias Amanuel</h3>
                        <p>Pastor Ermias Amanuel has been serving as the associate pastor of the Denver Ethiopian Evangelical Church since the year
                        2000. He and his wife Saron Tesfaye were married in 2005. They are the proud parents of an energetic 3 year old
                        daughter, Zoe, and recently greeted the arrival of their second bundle of joy, appropriately named Joy.<br />
                        Pastor Ermias is passionate about reaching the lost, is full of the Word of God, and his ability to teach complex
                        thoughts with such simplicity makes him a treasured part of the Ethiopian Evangelical Church’s pastoral team.<br />
                        He was born and raised in Ethiopia and comes to us by way of Canada. After receiving his Pastoral Degree from Masters
                        Seminary in Canada, he came to Denver Colorado for his internship, and as they say, the rest is history.<br />
                        In his capacity as associate pastor, Pastor Ermias’ responsibilities include maintaining oversight, providing vision and
                        leadership over Worship, Discipleship, special events, and other ongoing ministry programs, just to name a few.<br /></p>
                    </div>
                </div>
            </div>
            <!-- <div class="tab-pane fade show" id="v-pills-ave" role="tabpanel" aria-labelledby="v-pills-ave-tab">
                <h3>Pastor David Yirdaw</h3><br/>
                <img src="/assets/pastor-David.jpg" alt="pastor-david"><br/>
                <p>Pastor David Yirdaw has been serving the Lord in full time ministry since 2007. He started as a Resident Advisor for
                Covenant Church in Dallas Texas and later became a Youth Pastor in the Ethiopian Evangelical Baptist Church of Dallas.
                He has a heart for discipleship and reaching the lost with the love of God. Known as an adamant preacher of God’s grace,
                his desire is to see the supernatural move of God in the lives of every believer.<br/>
                Born in Ethiopia but raised in America, Pastor David and his wife Essey have a passion to serve their community here in
                America as well as their fellow Ethiopians.</p><br/>
                
                <br/>
                
                Pastor David attained his Biblical Studies degree at Covenant Training Institute and later acquired his Bachelors Degree
                from Dallas Baptist University in Business.<br/>
                
                Currently Pastor David serves as Youth & College Pastor for Ethiopian Evangelical Church of Denver. Under his leadership
                the young adult ministry called Avenue was birthed. Avenue strives to connect students to the passionate love of Jesus
                Christ in a relevant way.<br/>
                
                Click here to visit the Avenue Denver website, home of the Avenue young adult ministry.<br/>

            </div> -->
            <div class="tab-pane fade show" id="v-pills-children" role="tabpanel" aria-labelledby="v-pills-children-tab">
                <h3>Pastor Stan Lawson</h3><br/>
                <img src="/assets/pastor-stan.jpg" alt="pastor-stan"><br />
                <p>Pastor Stan Lawson and his wife Renee have been serving at the Ethiopian Evangelical Church of Denver since the year
                2000.<br/>
                Born and raised in California, Pastor Stan met Renee in high school and married her in 1982. In the early 1990’s Pastor
                Stan moved to Colorado along with his wife and four daughters. They came to EEC Denver by way of Riverside Baptist
                Church in Denver, Colorado, through a God connection.<br/>
                
                One of the pastors at Riverside knew of EEC Denver’s pressing need for a children’s church pastor, as well as Pastor
                Stan and his wife’s desire to serve as a missionaries, and found a way to marry the need with the desire by introducing
                Pastor Endashaw to Pastor Stan and Ms. Renee.<br/>
                Pastors Stan and Renee served as children’s church pastors at EECD beginning in the year 2000. Under their leadership,
                the children’s church ministry grew tremendously. In the year 2006, Pastor Stan branched out to step in as the Youth
                Pastor while Ms. Renee continued as the director of children’s ministry.<br/>
                    
                Under Pastor Stan’s leadership, EECD’s youth known as A.R.Y.F, a play on words whose acronyms stand for Anointed Radical
                Youth Fellowship, and the meaning of which (Aryf or Arif) is “perfect” in Amharic, have come a long way.<br/>
            </p><br/>
                <h3>Renee Lawson</h3><br/>
                <img src="/assets/pastor-renee.jpg" alt="pastor-renee"><br />
                <p>

                    Children’s Church Director Renee Lawson (lovingly known as “Ms. Renee” by church members) and her husband Pastor Stan,
                have been serving at the Ethiopian Evangelical Church of Denver since the year 2000.<br/>
                
                Born in Minnesota and raised in California, Ms. Renee married her high school sweetheart Stan Lawson in 1982. In the
                early 1990’s Pastor Stan and Renee moved to Colorado with their four daughters. They came to EECD by way of Riverside
                Baptist Church in Denver, Colorado through a God connection. One of the pastors at Riverside knew of EEC Denver’s
                pressing need for a Children’s Church Pastor, as well as Pastor Stan and his wife’s desire to serve as a missionaries,
                and found a way to marry the need with the desire by introducing Pastor Endashaw to Pastor Stan and Ms. Renee.<br/>
                
                Pastor Stan and Renee served as Children’s Church Directors beginning in the year 2000. Under their leadership, the
                Children’s Church Ministry grew tremendously. In 2006, Pastor Stan branched out to step into the vacant Youth Pastor
                position while Ms. Renee continued as the Director of Children’s Ministry.<br/>
                
                She continues to accomplish great things with her team of volunteers and helpers in teaching Pre-K through 6th graders.
                One of the annual highlights at EEC Denver is the grand Christmas production that the Children’s Church Ministry puts
                on. Last year’s show was held before a packed auditorium on 12/13/2009.<br/>
                
                </p>
            </div>
            <div class="tab-pane fade show" id="v-pills-youth" role="tabpanel" aria-labelledby="v-pills-youth-tab">
                <h3>Mickias Endashaw (Mickey)</h3><br/>
                <img src="/assets/pastor-Mickey.jpg" alt="pastor-mickey"><br />
                <p>
                    Mickias Endashaw (Mickey) is a product of Ethiopian Evangelical Church. Mickey was born and raised up by the church and
                its community, as the son of Senior Pastor Endashaw & his wife Genet. Mickey went to Colorado State University and there
                realized his calling for ministry. After graduating with a Bachelor’s in Psychology, he committed to going to Denver
                Seminary to pursue a Master’s in Divinity and also began to work on staff with EECD in 2016. Mickey’s passion is that
                people would come to know God in his fullness, in both spirit and truth. Mickey believes that as people come to know
                God, they will change the world and be messengers of the kingdom on the earth. One of the passions that Mickey has is
                for the youth to take hold of the love of God they have learned from their parents and build on that foundation while
                looking for ways to share with others that same love in their schools and to the world.
                </p>

            </div>
            <div class="tab-pane fade show" id="v-pills-otherMinistries" role="tabpanel" aria-labelledby="pills-otherMinistries-tab">
                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="pills-men-tab" data-toggle="pill" href="#pills-men" role="tab"
                            aria-controls="pills-men" aria-selected="true">Men's</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-women-tab" data-toggle="pill" href="#pills-women" role="tab"
                            aria-controls="pills-women" aria-selected="false">Women's</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-couples-tab" data-toggle="pill" href="#pills-couples" role="tab"
                            aria-controls="pills-couples" aria-selected="false">Couples</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-bible-tab" data-toggle="pill" href="#pills-bible" role="tab"
                            aria-controls="pills-bible" aria-selected="false">Bible Study</a>
                    </li>
                    
                </ul>
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-men" role="tabpanel" aria-labelledby="pills-men-tab">Men's</div>
                    <div class="tab-pane fade" id="pills-women" role="tabpanel" aria-labelledby="pills-women-tab">Women's</div>
                    <div class="tab-pane fade" id="pills-couples" role="tabpanel" aria-labelledby="pills-couples-tab">Couples</div>
                    <div class="tab-pane fade" id="pills-bible" role="tabpanel" aria-labelledby="pills-bible-tab">Bibles Studies</div>

                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>